$primary-color: #03C6B8;
$secondary-color: #034B69;
$third-color: #000035;
$transition-duration: .7s;

$table-padding: 10px;
$table-font-size: 12px;
$table-header-background: #f2f2f2;
$table-row-background: #f9f9f9;
$p-font-size: 14px;
$p-margin-bottom: 5px;
